@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --btn-color: #44BB775E;
    --btn-create: #3D9462;
    --card: #2F2F2F;
    --white: #FFFFFF;
    --placeholder: #363636BF;
    --input-feild: #EEEEEE;
    --view-color: #CDCDCD;
    --description: #dbdbdb;
    --form-backround: #1B1B1B;
    --body-color: #1E1E1E;
    --input-border-radius: 4px;
    --card-border-radius: 8px;
    --heading-color: #e6e6e6;
    --cardPopular-hover: #343434;
    --admin-form: #ECECEC;
    --logout-btn: #9F3535;
    --admin-btn: #ECECEC;
    --in-progress: #80be7e;
    --status-table: #F5F5F5;

}

body {
    font-family: 'Pridi', serif;
    background-color: var(--body-color);
    position: relative;
    max-width: 100vw;
}

section {
    position: relative;
}

/*==================back btn==============*/
.btn {
    position: relative;
    width: 80px;
    height: 30px;
    border: 2px solid var(--white);
    border-radius: 50px;
    background-color: var(--body-color);
    z-index: 1;
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    left: 0;
    top: -2px;
    z-index: 2;
    border-radius: 50px;
    transition: .4s cubic-bezier(0, 0, .8, .8);
}

.full-width {
    width: 100%;
}

.m-b {
    margin-bottom: 2rem;
}

.m-r {
    margin-right: .5rem;
}


.btn:hover .circle {
    width: 80px;

}

.text {


    font-size: 18px;

    text-transform: uppercase;
    margin-left: 1rem;
    font-weight: 600;
    z-index: 3px;
    transition: .5px;

    color: var(--white);
    font-size: .70rem;
    padding: 0 0 0 18px;
}

.btn:hover .text {
    color: var(--white);
}

.arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 3px solid var(--body-color);
    border-right: 3px solid var(--body-color);
    transform: rotate(45deg);
    top: 10px;
    left: 7px;
    transition: .8s;

}

.arrow:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    background: var(--body-color);
    transform: rotate(-45deg);
    left: -30px;
    top: 14px;
    opacity: 0;
    transition: .8s;
}

.btn:hover .arrow::before {
    opacity: 1;
}

.btn:hover .arrow {
    left: 60px;
    transition: .5s;
}

/*==================end back btn==============*/

/*========TYPOGRAPHY========*/

h1 {
    font-size: 3rem;
    color: var(--heading-color);

}

hr .hor {
    position: absolute;
    top: 0;
}

p {
    color: var(--description);
    font-size: 1rem;
}

h6 {
    color: var(--description);
}


/*=============normlize===============*/

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.container {
    padding: 3rem 10%;
}

img {
    width: 100%;
}

i {
    color: var(--description);
    font-size: 1rem;

}


/*==============HEDER===============*/

header {
    position: relative;
    border-bottom: 1px solid var(--description);
    z-index: 333;
    background-color: #242424;
    padding: 1rem 10%;
    /* z-index: -1; */
}

nav {
    justify-content: space-between;
    align-items: center;
}

.header_heading {
    font-size: 2rem;
}




.logo {
    width: 100px;
}

.primary_header {
    align-items: center;
    justify-content: space-between;
}

.primary_navigation {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3rem;
}

.primary_navigation a {
    color: var(--description);
}

li a {
    font-size: 1.2rem;
}

li a:hover {
    border-bottom: 2px dashed var(--btn-create);
    color: #4faa76;
    font-weight: bold;
    transition: ease-in .3s;
    border-radius: 4px;
}

.close {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
    font-size: 30px;
    padding: 1rem;
}

.open {
    display: none;
    color: var(--white);
    font-size: 30px;
}


/*==============END HEADER================*/


/*===============nav bar responsive=============*/

@media (max-width:35em) {
    .primary_navigation {
        opacity: 0;
    }

    .container {
        padding: 2rem 1rem;
    }

    .open {
        display: block;
    }

    .close {
        display: block;
    }

    .active-nav {
        opacity: 1;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        background-color: hsl(0 0% 100%/0.1);
        backdrop-filter: blur(1rem);
        text-align: center;
        transition: all ease-in-out .4s;
    }

    li a {
        font-size: 1.3rem;
    }

    li {
        margin-bottom: 1rem;
    }

    li a:hover {
        background-color: var(--body-color);
        padding: 1rem;
        border-radius: 4px;
        width: 100%;
        transition: all ease-out .3s;
        cursor: pointer;
    }
}


/*================HOME==============*/

.home {
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.home__content {
    max-width: 50%;
    width: 100%;
}

.home__img {
    max-width: 35%;
    width: 100%;
}

.home__content-text {
    margin-bottom: 5rem;
}

.home-btn {
    border: 1px solid var(--white);
    padding: .5rem 3rem;
    color: var(--white);
    box-shadow: 10px 10px #1B1B1B;
    font-size: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-btn:hover {

    padding: .5rem 3rem;
    background-color: var(--btn-create);
    transition: .3s;
}

.ec-1,
.ec-2 {
    position: absolute;
}

.ec-1 {
    top: 0;
    left: -10%;
    max-width: 60%;
    /* z-index: 111; */
    opacity: 0.3;
}

.ec-2 {
    bottom: -30%;
    right: 0;
    max-width: 80%;
    opacity: .2;
}

.line-vartical {
    position: absolute;
    width: .20%;
    left: 5%;
    top: 0;
    height: 100vh;
}


/*================END HOME PAGE==============*/
/*================POPULAR PAGE==============*/

.popular {
    width: 100%;
    height: 100%;
}

.swiper {
    width: 80%;
    height: 70vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--cardPopular-hover);
    display: flex;
    justify-content: center;
    border-radius: 8px;

}

.swiper-slide img {
    display: block;
    width: 60%;
    height: 60%;
    object-fit: cover;
    border: 3px solid var(--white);
}

.slide__content-text {
    color: var(--heading-color);
    text-align: left;




}

.slide__content-text h3 {
    margin-bottom: 2rem;
    animation-name: slidIn;
    animation-duration: 2s;
    font-size: 3rem;

}

.slide__content-text p {
    animation-name: slidIn;
    animation-duration: 3s;
    animation-play-state: running;

}


.slide__content {
    max-width: 70%;
    align-items: center;
    column-gap: 2rem;


}


/*============animation*/
@keyframes slidIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*================END POPULAR PAGE==============*/

/*================GALLERY PAGE==============*/
.gallery_content {
    justify-content: space-between;
    width: 100%;

}

.gallery_content-text {
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin-top: 9rem;
    margin-right: 15rem;


}

.gallery_content-text h1 {
    margin-bottom: 1rem;
}

.gallery_img {
    max-width: 25%;
    width: 100%;

}

.view {
    align-items: center;
    margin-top: 3rem;
    margin-left: 10rem;
}

.view p {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.view a i {
    font-size: 1.5rem;
    padding-right: 1rem;
    z-index: 444;
    cursor: pointer;
}

.view-btn {
    outline: none;
    border: none;
    background-color: transparent;
    margin-right: 1rem;
    cursor: pointer;
}

.gallery-cards {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    column-gap: 3rem;
    row-gap: 3rem;

}

.gallery-cards-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    column-gap: 3rem;
    row-gap: 3rem;


}


.card {
    background-color: var(--card);
    border-radius: var(--card-border-radius);
    z-index: 333;


}

.card:hover {
    transform: scale(1.1);
    transition: .3s;
}

.card-content {
    justify-content: space-between;
    padding: 1rem;


}

.card-price {
    gap: .5rem;
    align-items: center;
    border: 0.5px dashed var(--description);
    border-radius: var(--card-border-radius);
    padding: .5rem 1rem;
    width: fit-content;

    text-align: center;
    cursor: pointer;
}

.card-price a {
    font-size: .89rem;
    margin-bottom: .20rem;
}


.card-price:hover {
    background-color: var(--btn-color);
    border-radius: 10px;
    border: 1.5px solid var(--description);
    transition: all 0.3s ease-in-out;
}

.price-text {
    color: var(--white);
    margin-right: .5rem;
}

/*================END GALLERY PAGE==============*/

/*================ART PAGE==============*/


.art_content {
    width: 100%;
    height: 100vh;
    gap: 2rem;
    align-items: center;

}

.art_img {
    margin-top: 2rem;
    max-width: 50%;
    width: 100%;


}

.art_content-text {
    max-width: 40%;
    width: 100%;





}

.art_content-text h6 {
    margin-bottom: 3rem;

}

.art_content-text h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.art_content-text p {
    margin-bottom: 3rem;
}

.artist_details {
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20%;


}

.artist_details h3 {
    color: var(--white);
}

.artist_img {

    gap: 1rem;
    align-items: center;
}

.artist_img img {
    width: 50%;
}

.artist_name {
    text-align: center;
}






/*================END ART PAGE==============*/
/*================ CART PAGE==============*/

.cart {
    max-width: 100%;


    align-items: center;

}

.cart h3 {
    color: var(--description);
    font-size: 2rem;
}


.shopping__cart {

    width: 100%;
    align-items: center;

}

.shopping__cart-cards {

    max-width: 90%;


}

.shopping__cart-card {

    background-color: var(--card);
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100%;

}

.cart--img {
    padding: .5rem 0;
    max-width: 200px;
    width: 100%;
}

.cart--content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;



    text-align: left;
}

.cart--content p {
    font-size: 1.5rem;
}

.inc__dec--btn {
    margin-top: 2rem;
    height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card);
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    width: 40%;
}

.inc__dec--btn span {
    color: var(--white);
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.inc__dec--btn span.num {
    font-size: 1rem;
    border-right: 2px solid rgba(0, 0, 0, .2);
    border-left: 2px solid rgba(0, 0, 0, .2);
}

.close-card {
    position: absolute;
    top: 2PX;
    right: 2PX;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.shopping__pay {
    max-width: 60%;



}

.payment {
    max-width: 40%;
    width: 100%;
    margin-top: 7rem;
}


.payment__form {

    width: 100%;

    background-color: var(--card);
    padding: 1rem;
    border-radius: var(--card-border-radius);


}

.payment__form p {
    margin-bottom: 1rem;
}


.send__form-pey {
    background-color: var(--btn-create);
    color: var(--white);
    padding: 1rem 2rem;
    outline: none;
    border: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;

}

.payment__form form input,
.payment__form form select {
    background-color: var(--input-feild);
    border-radius: var(--input-border-radius);
    padding-left: 1rem;
    color: var(--form-backround);
    height: 30px;
    margin-bottom: 1rem;
    width: 100%;

}

.pay-radio {
    column-gap: 2rem;
    align-items: center;
    width: 50%;
    margin-top: 1rem;


}

.pay-icon {
    font-size: 1.8rem;
    color: var(--white);
    margin-left: .5rem;
}

.send__form-pey:hover {
    background-color: var(--white);
    color: var(--btn-create);
    border: 3px solid var(--btn-create);
    transition: .3s;

}


/*================END CART PAGE==============*/

/*================USER PAGE==============*/

.user_account {
    background-color: var(--card);
    border-radius: var(--card-border-radius);
    margin: 5rem 10rem 5rem 10rem;
}

.user_account_btn {
    justify-content: flex-end;
    padding-top: 2rem;
    padding-right: 1rem;
}

.logout_btn {
    background-color: var(--logout-btn);
    color: var(--white);
    border: none;
    border-radius: var(--card-border-radius);
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    width: 10%;
    padding: 1rem;
}

.user_content {
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;

}

.user_content h1 {
    align-items: flex-start;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.orders h3{
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.order_table {
    font-size: 1.5rem;
    color: var(--description);
    border-spacing: 1.5rem;
    width: 160%;

}

.table_row {
    justify-content: space-between;
    text-align: left;
    background-color: #484848;
    width: 130%;
    padding: 0.5rem;
    border-radius: 1rem;

}

.user_account {}

.user_account_form {
    width: 100%;

}

.user_account_form input {
    margin-top: 0.1rem;
    background-color: var(--input-feild);
    border-radius: 9px;
    padding-left: 1rem;
    color: var(--form-backround);
    height: 40px;
    margin-bottom: 1rem;
    width: 150%;
}


.pass_input {
    padding: 5px;
    width: 200%;
    font-size: 1rem;

}

.Update_btn {

    background-color: var(--btn-create);
    color: var(--white);
    border: none;
    border-radius: var(--card-border-radius);
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;

}

/*================End USER PAGE==============*/

/*==================ADMIN PAGE==========================*/

.admin_bg {
    background-color: var(--white);
}

.admin_forms {
    background-color: var(--white);
}

.wrapper_right {
    background-color: var(--admin-form);
}

.wrapper_left ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-bottom: 1rem;
}

.wrapper_left ul li {
    background-color: var(--admin-btn);

    width: 200px;
    text-align: center;
    padding: 1rem 0;
    border-radius: 8px;
    font-weight: 600;
    color: var(--body-color);
    font-size: 1rem;
    cursor: pointer;

}

.wrapper_left ul li.active {
    background-color: var(--btn-create);
    color: var(--white);
}

.wrapper_left ul li p {

    color: var(--body-color);

}


.item>p {
    color: var(--form-backround);
}

/*==================create product*/
.product_form {


    text-align: left;
}

.product_form p {
    color: var(--card) !important;
    margin-right: 1rem;

}

.product_form input,
.product_form textarea {
    padding: .5rem;
    border-radius: var(--input-border-radius);

    outline: none;
    border: none;

}

.product {
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 1rem;

}

.product_size {
    row-gap: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    /* align-items: center; */
}

.product_size>input,
.product_price>input {
    width: 100px;


}

.product_price>input {
    margin: 0 1rem .5rem .5rem;
    margin-bottom: 1rem;
}

.artist {
    
    align-items: center;
    margin-bottom: 1rem;
}

.artist input:first-child {
    width: 200px;
    height: 40px;
    margin-right: 0;
    
 

}
.artist input{
    margin-right: 1rem;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--btn-create);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover,
.create_btn:hover {
    background: #000;
    transform: scale(1.1);
    transition: .3s;
}
.create_btn-div{
     text-align: center; 
}
.create_btn {
    color: var(--admin-btn);
    background-color: var(--btn-create);
    width: 250px;
    padding: 1rem;
    border-radius: var(--input-border-radius);
    border: none;
    font-size: 1.20rem;
    font-weight: bold;
    margin-top: 3rem;
  
    
}


/*==========card status*/
.cards_status {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}

.cards_status>.card_status {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    row-gap: 1rem;
    padding: 1rem 0rem 1rem;
    color: var(--white);

    background-color: var(--btn-create);

    margin-top: 1rem;

}

.count {
    background-color: #3b3b3b;
    padding: .20rem 2rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    opacity: .9;
}

.card_status.not_completed {
    background-color: var(--logout-btn);

}

.card_status.in_progress {
    background-color: var(--in-progress);
}

.card_status p {
    color: var(--white);
    color: var(--white);
    font-weight: 400;
    letter-spacing: 1px;
}



.status_table {

text-align: center;
    width: 90%;
    padding: 0 1rem;
    border-spacing:0em 1em;;
    row-gap: 1rem;
    margin:  0 auto;
}


.status_table th {
    
    padding-left: 1rem;
}

.status_table td {
    width: fit-content;
    background-color: var(--status-table);

    
    margin-bottom: 1rem;
    padding: .5rem  .5rem .5rem 1rem;
    

}
.status_table input{
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
   gap: 10px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    
}
input[type=radio].complete{
    background-color: var(--btn-create);
}
input[type=radio].not-complated{
    background-color: var(--logout-btn);
}
input[type=radio].progress{
    background-color: var(--in-progress);
}
.status_table input:checked {


  border: 2px solid #000000;  
}
