  @import url('https://fonts.googleapis.com/css2?family=Pridi:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pridi&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pridi:wght@400;500;600&display=swap');
  :root {
      --btn-color: #44BB775E;
      --btn-create: #3D9462;
      --card: #2F2F2F;
      --white: #FFFFFF;
      --placeholder: #363636BF;
      --input-feild: #EEEEEE;
      --view-color: #CDCDCD;
      --description: #dbdbdb;
      --form-backround: #1B1B1B;
      --body-color: #1E1E1E;
      --input-border-radius: 4px;
      --card-border-radius: 8px;
      --heading-color: #e6e6e6;
  }
  body {
      font-family: 'Pridi', serif;
      background-color: var(--body-color);
      position: relative;
  }
  /*========TYPOGRAPHY========*/
  h1 {
      font-size: 2rem;
      color: var(--heading-color);
  }
  p {
      color: var(--description);
      font-size: .89rem;
  }
  .flex {
      display: flex;
  }
  a {
      text-decoration: none;
  }
  .container {
      padding: 2rem 10%;
  }
  img {
      width: 100%;
  }
  .logo {
      width: 100px;
  }
  .primary_header {
      align-items: center;
      justify-content: space-between;
  }
  .primary_navigation {
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 2rem;
  }
  .primary_navigation a {
      color: var(--description);
  }
  li a:hover {
      background-color: var(--body-color);
      padding: 1rem 40%;
      border-radius: 4px;
      width: 100%;
      transition: all ease-out .3s;
  }
  .close {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      color: var(--white);
      font-size: 30px;
      padding: 1rem;
  }
  .open {
      display: none;
      color: var(--white);
      font-size: 30px;
  }
  @media (max-width:35em) {
      .primary_navigation {
          opacity: 0;
      }
      .container {
          padding: 2rem 1rem;
      }
      .open {
          display: block;
      }
      .close {
          display: block;
      }
      .active-nav {
          opacity: 1;
          position: fixed;
          inset: 0 0 0 30%;
          flex-direction: column;
          padding: min(30vh, 10rem) 2rem;
          background-color: hsl(0 0% 100%/0.1);
          backdrop-filter: blur(1rem);
          text-align: center;
          transition: all ease-in-out .4s;
      }
      li a {
          font-size: 1.3rem;
      }
      li {
          margin-bottom: 1rem;
      }
  }
  /*================HOME==============*/
  .home {
      justify-content: space-between;
      height: 100vh;
  }